@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

::-webkit-scrollbar {
  width: 0;
}

:root {
  --black-color: #000;
  --dark-grey-color: #8e8b8c;

  --light-grey-color: #cecece;
  --light-grey-color-alternate: #d8d3d2;

  --light-color: #f8f8f8;
  --white-color: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* Range input - player__time-slider */
input[type="range"] {
  margin: 4.05px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #000000;
  border: 0;
  width: 100%;
  height: 1.9px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -4.05px;
  width: 12px;
  height: 12px;
  background: #000000;
  border: 0.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}

input[type="range"]::-moz-range-track {
  background: #000000;
  border: 0;
  width: 100%;
  height: 1.9px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border: 0.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.05px 0;
  color: transparent;
  width: 100%;
  height: 1.9px;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 0;
}

input[type="range"]::-ms-fill-upper {
  background: #000000;
  border: 0;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border: 0.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #000000;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

body {
  background-color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1370px;
  padding-inline: 35px;
  margin-inline: auto;
}

.title {
  font-size: 50px;
  font-weight: 600;
}

.title--small {
  font-size: 27px;
}

.play-button {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #cecece;
}

.labels {
  display: flex;
  column-gap: 5px;
}

.label__item {
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: #8e8b8c;
  font-size: 14px;
}

.label__item + .label__item::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e8b8c;
}

/* Header */
.header {
  max-width: 1828px;
  height: 115px;
  padding-inline: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.header__menu-list {
  display: flex;
  column-gap: 35px;
}

.header__menu-link {
  line-height: 25px;
  position: relative;
}

.header__menu-link--active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1.2px;
  background-color: #000;
}

.header__widget-holder {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  margin-right: 38px;
}

.header__search::before {
  content: "";
  display: block;
  margin-right: 6px;
  width: 15px;
  height: 21px;
  background: url("./images/search.svg") center/contain no-repeat;
}

.menu-opener__point,
.menu-opener__point::before,
.menu-opener__point::after {
  display: block;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000;
}

.menu-opener {
  width: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.menu-opener__point {
  position: relative;
}

.menu-opener__point::after,
.menu-opener__point::before {
  content: "";
  position: absolute;
}

.menu-opener__point::after {
  left: 10px;
}

.menu-opener__point::before {
  right: 10px;
}

/* Welcome */
.welcome {
  background-color: #d8d3d2;
}

.welcome__wrapper {
  max-width: 1920px;
  margin-inline: auto;
  margin-top: -115px;
  min-height: 900px;
  background: url("./images/welcome-bg.png") center/cover no-repeat;
  box-shadow: 10px 0 30px #d8d3d2 inset, -10px 0 30px #d8d3d2 inset;
}

.welcome__inner {
  padding-top: 180px;
}

.welcome__title {
  margin-bottom: 14px;
  max-width: 630px;
  font-size: 95px;
  font-weight: 600;
}

.welcome__description {
  margin-bottom: 50px;
}

.welcome__buttons-wrapper {
  display: flex;
  column-gap: 23px;
}

/* About */
.about {
  margin-bottom: 100px;
}

.about__player {
  margin-top: -150px;
  margin-bottom: 140px;
}

.player {
  min-height: 290px;
  display: flex;
  flex-direction: row;

  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.08);
}

.player__image-wrapper {
  display: block;
}

.player__body {
  flex-grow: 1;
  padding: 35px 50px 35px 21px;
  display: flex;
  flex-direction: column;
}

.player__info {
  padding-left: 27px;
}

.player__heading {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.player__title {
  max-width: 405px;
  font-size: 38px;
}

.player__link {
  display: flex;
  column-gap: 11px;
  align-items: center;
  align-self: start;
}

.player__link::after {
  content: "";
  display: block;
  width: 19px;
  height: 13px;
  background: url("./images/arrow.svg");
}

.player__control {
  margin-top: auto;
  padding-left: 17px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: #8e8b8c;
}

.player__skip {
  padding-bottom: 6px;
  padding-top: 30px;
  width: 46px;
  height: 50px;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}

.player__time-slider {
  flex-grow: 1;
}

.player__time {
  font-size: 14px;
}

.player__mute {
  width: 50px;
  aspect-ratio: 1;
  background: url("./images/mute.svg") center/50% no-repeat;
}
