@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

::-webkit-scrollbar {
  width: 0;
}

:root {
  --black-color: #000;
  --dark-grey-color: #8e8b8c;

  --light-grey-color: #cecece;
  --light-grey-color-alternate: #d8d3d2;

  --light-color: #f8f8f8;
  --white-color: #ffffff;

  --shadow: 10px 10px 25px rgba(0, 0, 0, 0.08);

  --pagination-height: 20px;
  --swiper-pagination-bottom: 0;
}

.swiper {
  padding-bottom: calc(var(--pagination-height) + 45px);
}

.swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-grey-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* Range input - player__time-slider */
input[type="range"] {
  margin: 4.05px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #000000;
  border: 0;
  width: 100%;
  height: 1.9px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -4.05px;
  width: 12px;
  height: 12px;
  background: #000000;
  border: 0.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}

input[type="range"]::-moz-range-track {
  background: #000000;
  border: 0;
  width: 100%;
  height: 1.9px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border: 0.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.05px 0;
  color: transparent;
  width: 100%;
  height: 1.9px;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 0;
}

input[type="range"]::-ms-fill-upper {
  background: #000000;
  border: 0;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border: 0.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #000000;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1370px;
  padding-inline: 35px;
  margin-inline: auto;
}

.title {
  font-size: 50px;
  font-weight: 600;
}

.title--small {
  font-size: 27px;
}

.play-button {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #cecece;
}

.labels {
  display: flex;
  column-gap: 5px;
}

.label__item {
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: #8e8b8c;
  font-size: 14px;
}

.label__item + .label__item::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e8b8c;
}

.link {
  display: flex;
  column-gap: 11px;
  align-items: center;
  align-self: start;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.link::after {
  content: "";
  display: block;
  width: 19px;
  height: 13px;
  background: url("./images/arrow.svg");
}

/* Header */
.header {
  max-width: 1828px;
  height: 115px;
  padding-inline: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  column-gap: 35px;
}

.header__menu-link {
  line-height: 25px;
  position: relative;
}

.header__menu-link--active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1.2px;
  background-color: #000;
}

.header__widget-holder {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  margin-right: 38px;
}

.header__search::before {
  content: "";
  display: block;
  margin-right: 6px;
  width: 15px;
  height: 21px;
  background: url("./images/search.svg") center/contain no-repeat;
}

.menu-opener__point,
.menu-opener__point::before,
.menu-opener__point::after {
  display: block;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000;
}

.menu-opener {
  width: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.menu-opener__point {
  position: relative;
}

.menu-opener__point::after,
.menu-opener__point::before {
  content: "";
  position: absolute;
}

.menu-opener__point::after {
  left: 10px;
}

.menu-opener__point::before {
  right: 10px;
}

/* Welcome */
.welcome {
  background-color: #d8d3d2;
}

.welcome__wrapper {
  max-width: 1920px;
  margin-inline: auto;
  margin-top: -115px;
  min-height: 900px;
  background: url("./images/welcome-bg.png") center/cover no-repeat;
  box-shadow: 10px 0 30px #d8d3d2 inset, -10px 0 30px #d8d3d2 inset;
}

.welcome__inner {
  padding-top: 180px;
}

.welcome__title {
  margin-bottom: 14px;
  max-width: 630px;
  font-size: 95px;
  font-weight: 600;
}

.welcome__description {
  margin-bottom: 50px;
}

.welcome__buttons-wrapper {
  display: flex;
  column-gap: 23px;
}

/* About */
.about {
  margin-bottom: 100px;
}

.about__player {
  margin-top: -150px;
  margin-bottom: 140px;
}

.player {
  min-height: 290px;
  display: flex;
  flex-direction: row;

  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: var(--shadow);
}

.player__image-wrapper {
  display: block;
}

.player__body {
  flex-grow: 1;
  padding: 35px 50px 35px 21px;
  display: flex;
  flex-direction: column;
}

.player__info {
  padding-left: 27px;
}

.player__heading {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.player__title {
  max-width: 405px;
  font-size: 38px;
}

.player__control {
  margin-top: auto;
  padding-left: 17px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: #8e8b8c;
}

.player__skip {
  padding-bottom: 6px;
  padding-top: 30px;
  width: 46px;
  height: 50px;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}

.player__time-slider {
  flex-grow: 1;
}

.player__time {
  font-size: 14px;
}

.player__mute {
  width: 50px;
  aspect-ratio: 1;
  background: url("./images/mute.svg") center/50% no-repeat;
}

/* About Episode */
.about__episode {
  margin-bottom: 140px;
}

.episode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.episode__body {
  max-width: 550px;
}

.episode__title {
  margin-bottom: 50px;
}

.episode__info {
  margin-bottom: 28px;
  display: flex;
  column-gap: 20px;
}

.episode__audio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}

.episode__description {
  margin-bottom: 30px;
}

.episode__image-wrapper {
  max-width: 525px;
  max-height: 520px;
  border-radius: 10px;
  overflow: hidden;
}

/* Top */
.top {
  padding-block: 100px;
  background-color: #f8f8f8;
}

.top__inner {
  max-width: 1920px;
  margin-inline: auto;
}

.top__heading {
  margin-bottom: 50px;
  text-align: center;
}

.top__title {
  margin-bottom: 20px;
}
.card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.card__body {
  padding-inline: 45px;
  margin-right: auto; /* align-self: start; */
  max-width: 392px;
}

.card__labels {
  margin-bottom: 5px;
}

.card__title-wrapper {
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;
}

.card__title {
  display: inline;
}

.card__title-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
}

.card__image-wrapper {
  position: relative;
}

.card__image-wrapper::after {
  position: absolute;
  content: "";
  display: block;
  width: 45px;
  aspect-ratio: 1;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  background: #fff url("./images/headphones.svg") center no-repeat;
}

.pagination {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.pagination-item {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.pagination-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.pagination-item--active {
  position: relative;
}

.pagination-item--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-grey-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/* Essential */
.essential {
  padding-top: 124px;
  padding-bottom: 100px;
}

.essential__heading {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.essential__heading .link {
  align-self: end;
}

.essential__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 70px;
}

.card--vertical {
  flex-direction: column;
}

.card--vertical .card__body {
  padding: 35px;
}

.share-link {
  font-family: "Lato", sans-serif;
  color: var(--dark-grey-color);
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.share-link::after {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background: url("./images/share.svg") center/contain no-repeat;
}
