@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Yantramanav:wght@700&display=swap");

:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid #fff;

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav";

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-hight: 90px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  fill: currentColor;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-bottom: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container--wide {
  max-width: 1920px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title--big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 6px);
  width: 26px;
  aspect-ratio: 1;
  background: url("./icons/plus.png") center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark-gray);

  font-weight: 700;
  line-height: 112px;
  text-transform: uppercase;
}

.backdrop-title--centered::after {
  /* top: -0.15em;
  left: 50%;
  translate: -50% 0; */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);

  border-radius: var(--border-radius);
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  min-height: var(--header-hight);
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header__logo {
  flex-shrink: 0;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 62px;
}

.header__menu-link {
  column-gap: 7px;
  height: var(--header-hight);
  align-items: center;
  color: var(--color-light);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__actions {
  display: flex;
  column-gap: 40px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;

  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  background: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
  cursor: default;
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button--transparent {
  position: relative;
  height: var(--input-height);
  padding: 14px 80px 14px 31px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.button--transparent::after {
  content: "";
  position: absolute;
  right: -1px;

  height: 100%;
  aspect-ratio: 1;
  background: url("./icons/arrow-top-right.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.button--transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.motivation__card-button {
  height: 54px;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.3px;
}

.header__burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  color: #fff;
  cursor: default;
}

.header__burger-button:hover {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.header__burger-button-line {
  width: 6px;
  height: 0.9px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.header__menu-link--active::after {
  content: "";
  background-color: currentColor;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  right: -10px;
  top: calc(50% - 2.5px);
}

/* Banner section */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-hight));
  padding: 36px 70px;
  color: var(--color-light);
  background: var(--color-dark-alternate);
}

.banner__body {
  text-transform: uppercase;
}

.banner__info {
  display: flex;
  align-items: end;
  font-size: min(16px, 1.56vw, 30px);
  font-weight: 700;
  line-height: 1.27;
}

.banner__title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner__info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url("./icons/bold-arrow-down-right.svg") center/contain no-repeat;
}

.banner__pagination-list {
  display: flex;
  justify-content: center;
}

.banner__pagination-item {
  display: flex;
}

.banner__pagination-button {
  display: flex;
  padding: 12px;
  border: none;
  background: transparent;
}

.banner__pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner__pagination-button--current::after {
  background: var(--color-light);
}

.banner__pagination-button:not(
    .banner__pagination-button--current
  ):hover::after {
  border-color: var(--color-light-gray);
}

/* Motivation section */
.motivation__item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation__item:nth-child(even) > .motivation__card {
  flex-direction: row-reverse;
}

.motivation__card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 13vw, 250px);
}

.motivation__card-image {
  margin-block: -60px;
}

.motivation__card-body {
  padding-left: 35px;
}

.motivation__card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation__card-description {
  max-width: 400px;
  letter-spacing: 0.8px;
}

.motivation__card-description:not(:last-child) {
  margin-bottom: 38px;
}

/* Training types section */
.training-types {
  max-width: 1920px;
  margin-inline: auto;
  padding-block: 70px 120px;
  position: relative;
  background-color: var(--color-dark);
}

.training-types__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-types__item {
  --trainingTypesItemBgIconSize: 80px;

  padding-top: var(--trainingTypesItemBgIconSize);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  position: relative;
  background: url("./icons/arrow-down-left.svg") 100% 0 /
    var(--trainingTypesItemBgIconSize) no-repeat;
}

.training-types-item__title {
  font-size: 16px;
}

.training-types__image {
  height: 140px;
  width: auto;
}

/* Join us section */
.join-us {
  padding-bottom: 150px;
  background: var(--color-dark-alternate);
}

.join-us__video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: url("./images/join-us/bg.jpg") center/cover no-repeat
    var(--color-dark-alternate);
}

.join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us__video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.join-us__video-play-button::after {
  content: "";
  width: 18px;
  height: 26px;
  background: url("./icons/arrow.svg") center/cover no-repeat;
  transform: rotate(45deg);
  transition-duration: var(--transition-duration);
}

.join-us__video-play-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.join-us__video-play-button:hover::after {
  filter: invert(1);
}

.join-us__title {
  position: relative;
  text-align: center;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  margin-top: -0.4em;
}

.join-us__title::after {
  content: "";
  display: inline-block;
  margin-left: 0.14em;
  width: 0.7em;
  aspect-ratio: 1;
  background: url("./icons/bold-arrow.svg") center/contain no-repeat;
}

.join-us__title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us__form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

.join-us__form-header:not(:last-child) {
  margin-bottom: 50px;
}

.join-us__form-title {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 10px;
  display: inline-block;
}

.join-us__form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.join-us__form-input {
  max-width: 400px;
}

/* Location section */
.location {
  display: flex;
}

.location__image {
  width: 50%;
  height: auto;
}

.location__body {
  padding: 80px 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location__title {
  margin-bottom: 14px;
}

.location__text {
  margin-bottom: 37px;
  max-width: 490px;
  text-align: center;
}

/* Family section */
.family {
  background-color: var(--color-dark-alternate);
}

.family__header {
  padding-block: 130px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  text-align: center;
}

.family__description {
  font-size: 20px;
  text-transform: uppercase;
}

.family__body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: mandatory;
  overflow: scroll;
}

.family__image {
  scroll-snap-align: start;
}

/* Calculate section */
.calculate {
  padding-block: 146px;
  background-color: var(--color-dark-alternate);
}

.calculate__inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

.calculate__body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate__title {
  margin-bottom: 16px;
}

.calculate__description {
  margin-bottom: 30px;
  max-width: 385px;
}

.calculate__form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
  margin-bottom: 26px;
}

.calculate__input.input--wide {
  grid-column: -1 / 1;
}

.calculate__table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
}

.calculate__table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.calculate__table {
  position: relative;
  border-collapse: collapse;
}

.calculate__table :is(td, th) {
  padding-right: 30px;
}

.calculate__table :is(td, th):not(:first-child) {
  padding-left: 30px;
}

.calculate__table :is(td, th):not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}

.calculate__table tbody td {
  border-top: 1px solid var(--color-light-gray);
}

.calculate__table tbody tr:last-child td:first-child {
  position: relative;
}

.calculate__table tbody tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 0.9px;
  background-color: var(--color-light-gray);
}

.calculate__table th {
  padding-block: 20px;
  text-align-last: left;
  text-transform: uppercase;
  color: var(--color-light);
}

.calculate__table td {
  padding-block: 14px;
}

.calculate__table tfoot {
  color: var(--color-light);
}

.calculate__table tfoot td {
  padding-top: 33px;
  padding-bottom: 0;
}

/* Footer */
.footer {
  --footerLogoWidth: 20.77%;
}

.footer__main {
  padding-top: 140px;
  padding-bottom: 160px;
}

.footer__header,
.footer__body {
  display: grid;
  column-gap: 62px;
}

.footer__header {
  grid-template-columns: var(--footerLogoWidth) auto;
  margin-bottom: 60px;
}

.footer__description {
  text-align: left;
}

.footer__body {
  grid-template-columns: var(--footerLogoWidth) repeat(3, 1fr);
}

.footer__column-title {
  font-size: clamp(18px, 1.15vw, 22px);
  margin-bottom: 15px;
}

.footer__schedule {
  margin-bottom: 13px;
}

.footer__address {
  font-style: normal;
  margin-bottom: 35px;
}

.footer__column-title--has-arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.5em;
  width: 0.74em;
  aspect-ratio: 1;
  background: url("./icons/bold-arrow.svg") center/contain no-repeat;
  scale: -1 1;
}

.footer__subscribe {
  position: relative;
  margin-bottom: 50px;
}

.footer__subscribe-input {
  padding-right: 70px;
}

.footer__subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url("./icons/arrow-top-right.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.footer__subscribe-button:hover {
  background-color: var(--color-light-gray);
}

.footer__soc1als-list {
  display: flex;
  column-gap: 18px;
}

.footer__soc1als-link {
  display: flex;
  width: 23px;
  filter: invert(1);
  transition: var(--transition-duration);
}

.footer__soc1als-link:hover {
  filter: invert(0.7);
}

.footer__extra {
  padding-block: 15px;
  background-color: var(--color-dark-alternate);
}

.footer__copyright {
  font-size: 14px;
}

@media (max-width: 1919px) {
  .motivation__card-image {
    margin-block: -20px;
    margin-block: 0;
  }
}

@media (max-width: 1280px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
  }

  .header,
  .banner {
    padding-inline: 15px;
  }

  .header__menu {
    order: 1;
    flex-basis: 100%;
  }

  .header__menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
  }

  .motivation__card {
    padding-block: 50px;
  }

  .motivation__card-image {
    max-width: 30%;
    height: auto;
  }

  .join-us {
    padding-bottom: 80px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 80px;
  }

  .location {
    flex-direction: column-reverse;
    align-items: center;
  }

  .location__image,
  .location__body {
    width: 100%;
  }

  .family__image {
    height: 360px;
  }

  .calculate {
    padding-block: 100px;
  }

  .calculate__inner {
    column-gap: 20px;
  }

  .calculate__form-body {
    grid-template-columns: 1fr;
  }

  .calculate__button {
    width: 100%;
  }

  .calculate__table :is(td, th) {
    padding-block: 10px;
  }

  .calculate__table tfoot td {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  /* .button {
    padding-inline: 18px;
  } */

  .header {
    padding-top: 10px;
  }

  .header__menu-list {
    column-gap: 24px;
  }

  .header__menu-link {
    height: 32px;
  }

  .header__actions {
    column-gap: 15px;
  }

  .banner__info {
    margin-bottom: 5px;
  }

  .banner__info::before {
    margin-right: 10px;
  }

  .motivation__card,
  .motivation__item:nth-child(even) .motivation__card {
    flex-direction: column-reverse;
  }

  .motivation__card {
    row-gap: 30px;
    padding-block: 30px;
  }

  .motivation__card-image {
    max-width: 60%;
  }

  .motivation__card-description:not(:last-child) {
    margin-bottom: 20px;
  }

  .training-types__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .training-types__item {
    --trainingTypesItemBgIconSize: 50px;
    row-gap: 10px;
  }

  .training-types__image {
    max-width: 120px;
  }

  .join-us__video-play-button {
    width: 140px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .section-description {
    font-size: 16px;
  }

  .join-us__form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .location__body {
    padding-block: 40px;
  }

  .location__text {
    margin-bottom: 20px;
  }

  .family__header {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .family__body {
    column-gap: 12px;
  }

  .family__image {
    height: 200px;
  }

  .calculate {
    padding-block: 60px;
  }

  .calculate__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .calculate__table-wrapper::before {
    display: none;
  }
}
