@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "Avenir";
  src: url("fonts/avenir-heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 0;
}

/* 
font-family: "Noto Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Avenir", sans-serif;
 */

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 1;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--small {
  max-width: 1000px;
}

/* Header */
.header__container {
  display: flex;
  align-items: center;
  gap: 108px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__login {
  position: relative;
}

.header__login span::before {
  content: "";
  background: #fff;
  width: 64%;
  height: 1px;
  bottom: -1px;
  right: -3px;
  position: absolute;
}

/* Welcome section */
.welcome {
  padding-bottom: 50px;
}

.welcome__container {
  position: relative;
}

.welcome__container::after {
  content: "";
  width: 660px;
  height: 790px;

  position: absolute;
  right: -170px;
  top: -240px;
  z-index: -1;

  transform: rotate(-105deg);

  background-image: url("./images/bg-welcome.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.welcome__row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-height: 700px;
}

.welcome__title {
  margin-bottom: 130px;
  font-size: 64px;
  line-height: 1.09;
}

.welcome__text {
  position: relative;
  padding-left: 130px;
  width: 380px;
  font-size: 20px;
}

.welcome__text::before {
  content: "";
  width: 125px;
  height: 125px;

  position: absolute;
  left: 20px;
  bottom: 50%;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.welcome__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 55px;

  width: 120px;
  height: 4px;
  background-color: #fff;

  transform: rotate(120deg);
}

.welcome__img {
  width: 600px;
  position: absolute;
  top: -140px;
  right: -30px;
}

.welcome__cta {
  padding-right: 60px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.cta__links {
  display: flex;
  gap: 30px;
}

/* Mission section */
.mission__container {
  margin-bottom: -150px;
  display: flex;
  align-items: center;
  gap: 90px;
  position: relative;
  z-index: -1;
}

.mission__img {
  max-height: 700px;
}

.mission__img img {
  height: 1230px;

  position: relative;
  left: -230px;
  bottom: 300px;
  transform: rotate(90deg);
  z-index: -1;
}

.mission__desc {
  max-width: 324px;
}

.mission__title {
  margin-bottom: 32px;
  position: relative;
}

.mission__title::before {
  content: "";
  width: 125px;
  height: 125px;

  position: absolute;
  z-index: -1;
  left: 170px;
  background: rgba(241, 1, 191, 0.5);
  filter: blur(50px);
}

/* Common */
.common {
  margin-top: 100px;
  padding: 50px 0;
}

.common:nth-child(even) .container {
  flex-direction: row-reverse;
}

.common__title {
  margin-bottom: 20px;
}

.common__col {
  max-width: 410px;
}

.common__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Scanner and Code sections differencies */
.scanner {
  background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%),
    url("./images/bg-scanner.png");
  background-size: cover;
}

.code {
  background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%),
    url("./images/bg-code.png");
  background-size: cover;
  background-position: center;
}

/* Footer */
.footer {
  margin-bottom: 60px;
}

.footer__cta {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 125px;
}

.footer .cta__text {
  font-size: 24px;
  letter-spacing: 3%;
}

.footer .cta__img {
  width: 260px;
  height: 82px;
}

.footer .cta__links {
  gap: 60px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__wrapper::before {
  content: "";
  width: 400px;
  height: 410px;

  position: absolute;
  z-index: -1;
  left: -100px;
  top: 0;
  background: rgba(241, 1, 191, 0.5);
  filter: blur(250px);
}

.footer__wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__logo {
  width: 80px;
}

.footer span {
  font-family: "Avenir", sans-serif;
  font: 18px;
}
