@import url("https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

::-webkit-scrollbar {
  width: 0;
}

:root {
  --pagination-height: 20px;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-horizontal-gap: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: #fff;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1920px;
  margin-inline: auto;
}

.links-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  padding: 37px 50px;
}

.link {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  column-gap: 5px;
  font-family: "Anton", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.link::after {
  content: "";
  width: 28px;
  height: 25px;
  background: url("./images/blends/arrow.svg") center/contain no-repeat;
}

.link:hover {
  column-gap: 20px;
  font-size: 17px;
}

.button {
  padding: 21px 33px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
  color: #fff;
  background: url("./images/cities-bg.svg") center/cover no-repeat;
  background-color: #000;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  translate: -50% 0;

  height: 3px;
  width: 58px;
  background: url("./images/underline.svg") center no-repeat;
  background-size: 100% 100%;
}

.underline--full-width::before {
  width: 110%;
}

.cart {
  display: inline-flex;
  column-gap: 3px;
}

.cart::after {
  content: "(0)";
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/* Header */
header {
  border-bottom: 1px solid #000;
}

.header__greeting-wrapper {
  background-color: #000;
}

.header__greeting {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}

.header__main {
  margin-inline: auto;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.header__main::after {
  content: "";
  display: block;
  background: url("./images/star.png") center/55% no-repeat;
  align-self: stretch;
  aspect-ratio: 1;
  border-left: 1px solid #000;
}

.header__main-inner {
  padding: 37px;
  height: 100px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  column-gap: 47px;
}

.header__widget-holder {
  display: flex;
  column-gap: 23px;
}

/* Welcome */
.welcome {
  max-height: 940px;
  height: 100%;
}

.welcome__swiper-card {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 85px;
  height: 65px;
  background: url("./images/welcome/arrow.svg") center/contain no-repeat #fbed81;
  z-index: 1;
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
  transform: rotateY(180deg);
}

.welcome__image-wrapper {
  position: relative;
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 100/94;
  overflow: hidden;
}

.welcome__image {
  position: absolute;
  width: 100%;
  bottom: -42px;
  left: 50%;
  translate: -50% 0;
}

.welcome__body {
  align-self: stretch;
  display: flex;
  align-items: center;
  width: 100%;
  background: url("./images/welcome/backgroung.png") center/cover no-repeat;
}

.welcome__title {
  box-sizing: content-box;
  padding-left: 145px;
  max-width: 390px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 6px;
  text-transform: uppercase;
  position: relative;
}

.welcome__title::before {
  content: "";
  position: absolute;
  top: -104px;
  right: -6px;
  display: block;
  width: 135px;
  height: 135px;
  background: url("./images/welcome/label.png") center/contain no-repeat;
}

.welcome__title::after {
  content: "";
  position: absolute;
  bottom: -34px;
  right: -56px;
  display: block;
  width: 220px;
  height: 70px;
  background: url("./images/welcome/text.png") center/contain no-repeat;
}

/* Blends */
.blends__main {
  border-block: 1px solid #000;
}

.blends__labels {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-top: 1px solid #000;
}

.blends__label {
  display: flex;
  column-gap: 10px;
}

.blends__label + .blends__label::before {
  content: "|";
  top: 50%;
  left: 0;
  width: 10px;
  height: 100%;
}

.blends__main {
  background-color: #fdf1d9;
}

.blends__inner {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
}

.blends__body {
  display: flex;
  flex-direction: column;
  padding: 100px 50px 78px 94px;
  height: 100%;
}

.title {
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #202020;
}

.title--medium {
  font-size: 35px;
}

.title--small {
  font-size: 50px;
}

.title--tiny {
  font-size: 25px;
}

.blends__title {
  margin-bottom: 30px;
}

.blends__title-highlight {
  position: relative;
}

.blends__title-highlight::after {
  content: "";
  display: block;
  width: 264px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url("./images/blends/highlight.svg") center/contain no-repeat;
}

.blends__description {
  max-width: 705px;
}

.blends__link {
  margin-top: auto;
}

.blends__item {
  padding: 43px;
  border-left: 1px solid #000;
}

.blends__image {
  margin-bottom: 30px;
}

.blends__item-title {
  margin-bottom: 5px;
}

/* Banner */
.banner__inner {
  position: relative;
}

.bunner__title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  color: #fff;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 980px;
}

/* Cites */
.cites__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cites__main {
  display: flex;
  align-items: center;
  min-width: 0;
}

.cites__swiper {
  padding-bottom: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 73px;
}

.cites__swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cites__swiper-card {
  padding: 30px;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cites__rating {
  display: flex;
  column-gap: 3px;
  margin-bottom: 28px;
}

.cites__rating-item {
  width: 21px;
  height: 17px;
  background: url("./images/rating-star.svg") center/contain no-repeat;
}

.cites__title {
  margin-bottom: 8%;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 755px;
}

.cites__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  height: 30px;
}

.swiper-pagination-bullet {
  box-sizing: content-box;
  padding: 12px;
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  opacity: 1;
  background-color: transparent;
  transition: all 0.2s ease;
  border-radius: 0;
}

.swiper-pagination-bullet-active::before {
  background-color: #000;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover::before {
  scale: 1.2;
  transform: rotate(45deg);
}

/* Cities */
.cities {
  background-color: #f8f8f8;
  border-block: 1px solid #000;
}

.cities__inner {
  display: flex;
  border-left: 1px solid #000;
}

.cities__title {
  padding: 50px 22px;
  text-wrap: nowrap;
  writing-mode: sideways-lr;
  border-right: 1px solid #000;
}

.cities__card {
  padding: 100px 60px;
  display: flex;
}

.cities__image-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.cities__main {
  box-sizing: content-box;
  padding: 45px 60px;
  max-width: 355px;
}

.cities__card-title {
  margin-bottom: 24px;
}

.cities__body {
  margin-bottom: 45px;
}

.cities__contacts {
  margin-bottom: 24px;
}

.cities__contacts > * {
  margin-bottom: 10px;
}

.cities__schedule-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cities__schedule-item > span {
  text-wrap: nowrap;
}

.filler {
  overflow: hidden;
}

.filler::after {
  content: "..............................";
}

/* Coffee */
.coffee__body {
  border-top: 1px solid #000;
  border-left: 1px solid #000;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.coffee__card {
  padding: 38px 42px;
  border-right: 1px solid #000;
  position: relative;
}

.coffee__card--sold::after,
.coffee__card--new::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-inline: 20px;
  height: 34px;
  top: 15px;
  right: 0;
  font-family: "Anton", sans-serif;
}

.coffee__card--sold::after {
  content: "SOLD";
  color: #fff;
  background-color: #202020;
}

.coffee__card--new::after {
  content: "NEW";
  background-color: #fbed81;
}

.coffee__card-image {
  margin-bottom: 30px;
}

/* Food */
.food {
  border-block: 1px solid #000;
  background-color: #fdf1d9;
}

.food__inner {
  display: grid;
  grid-template-columns: 4fr 5fr;
}

.food__side {
  padding: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #000;
}

.food__title {
  text-wrap: balance;
}

.food__card {
  padding: 46px 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food__card + .food__card {
  border-top: 1px solid #000;
}

.food__body {
  max-width: 330px;
}

.food__card-title {
  margin-bottom: 6px;
}

.food__link-wrapper {
  width: 120px;
}

/* Reserve */
.reserve__inner {
  padding: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/reserve-bg.png") center/cover no-repeat;
}

.reserve__main {
  max-width: 1320px;
}

.reserve__title {
  margin-bottom: 20px;
  text-align: center;
}

.reserve__form {
  display: flex;
  align-items: end;
  column-gap: 35px;
}

.reserve__form > *:not(.button) {
  width: 346px;
  height: 41px;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  color: #202020;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.reserve__secect {
  appearance: none;
  background-image: url("./images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 18px 11px;
}

.reserve__date::-webkit-calendar-picker-indicator,
.reserve__time::-webkit-calendar-picker-indicator {
  background-image: url("./images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 18px 11px;
}

/* Team */
.team__title {
  border-block: 1px solid #000;
}

.team__body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.team__member-card {
  padding: 37px;
  border-right: 1px solid #000;
}

.team__member-name {
  margin-bottom: 2px;
}

/* Footer */
.footer__inner {
  padding: 70px;
  display: grid;
  grid-template-columns: 2.2fr repeat(2, 1fr);
  align-items: center;
  column-gap: 30px;
}

.footer__main {
  display: flex;
  column-gap: 36px;
}

.footer__image-wrapper {
  width: 102px;
  align-self: flex-start;
}

.footer__title {
  font-size: 30px;
  margin-bottom: 8px;
}

.footer__contacts {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-wrap: nowrap;
}

.footer__contacts > * {
  margin-bottom: 4px;
}

.footer__pages-list,
.footer__socials-list {
  flex-direction: column;
  align-items: start;
  row-gap: 3px;
}

.footer__socials-list {
  row-gap: 5px;
}
