@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* General styles */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6a859c;
  line-height: 1.8;
}

.btn {
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 11px 30px;
  border: 1px solid #fff;
}

/* Header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  color: #69b9ff;
  text-transform: uppercase;
}

.active {
  color: #0082f3;
}

nav {
  width: 183;
  height: 60px;
  padding: 20px;
  display: flex;
  gap: 40px;
}

/* Welcome section */
.welcome {
  height: 594px;
  background-image: url("./images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.welcome .container {
  height: 397px;
  padding-top: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 74px;
}

.welcome h1 {
  font-size: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.welcome a:first-of-type {
  background: #69b9ff;
}

/* What we do section */
.what-we-do {
  margin: 80px auto;
  text-align: center;
}

.what-we-do h2,
.what-we-do h3 {
  text-transform: uppercase;
  color: #676770;
}

.what-we-do h2 {
  font-size: 30px;
  letter-spacing: 5px;
}

.what-we-do h3 {
  margin-top: 18px;
  font-size: 20px;
  letter-spacing: 7px;
}

.what-we-do p {
  font-size: 16px;
  color: #8e8e9c;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 16px;
}

.what-we-do .wrapper {
  display: flex;
  justify-content: space-around;
  margin: 60px auto 80px;
}

.what-we-do .wrapper p {
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
}

.what-we-do.wrapper .card {
  border: 1px solid #dcebf7;
  border-radius: 5px;
  width: 300px;
  padding: 36px 16px 23px;
}

/* Services section */
.services {
  background: #192024;
  padding: 80px 0;
}

.services .container {
  text-align: center;
}

.services h2,
.services h3 {
  color: #ffffff;
  text-transform: uppercase;
}

.services h2 {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 17px;
}

.services h3 {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 7px;
}

.services p {
  font-size: 17px;
  letter-spacing: 3px;
  color: #e8e8e8;
  text-transform: uppercase;
}

.services .wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.services .wrapper .card {
  width: 460px;
  height: 550px;
  padding: 15px;
}

.services .wrapper p {
  margin: 28px auto 23px;
  width: 395px;
  padding: auto;
  font-size: 14px;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: none;
  text-align: center;
}

.services .wrapper .btn {
  color: #fff;
}

/* Tab section */
.tab {
  margin: 80px auto;
}

.tab .container {
  text-align: center;
}

.tab .buttons {
  justify-content: center;
  padding: 12px 0;
  margin: 60px 0 40px;
}

.tab .buttons a {
  display: block;
  padding: 1px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  background: #92a0ad;
}

.tab .buttons .active {
  background: #2e80b6;
}

.tab h2,
.tab h3 {
  color: #676770;
}

.tab h2 {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.tab h3 {
  margin: 16px 0 14px;
  font-size: 31px;
  letter-spacing: 0px;
}

.tab p {
  font-size: 17px;
  letter-spacing: 3px;
  color: #8e8e9c;
  text-transform: uppercase;
}

.tab .big-card p {
  color: #6a859c;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0;
  margin-top: 2px;
}

/* Info section */
.info {
  padding: 35px 0;
}

.info .container {
  display: flex;
}

.info .container div {
  width: 33.33%;
  padding: 0 10px;
}

.info h4 {
  margin-bottom: 22px;
  font-size: 18px;
  letter-spacing: 4px;
  color: #676770;
  text-transform: uppercase;
}

.info h4:first-of-type {
  margin-bottom: 25px;
}

.info li {
  color: #6a859c;
  font-size: 13px;
}

.info .links li::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #d5d5e0;
  position: relative;
  margin: 12px 0 5px;
}

.info .socials li span::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #d5d5e0;
  position: relative;
  margin: 9.6px 0 5px 33px;
}

.info img {
  width: 20px;
  height: 20px;
  object-fit: fill;
  margin-right: 10px;
}

/* Footer */
footer {
  background: #383838;
  padding: 40px 0;
  text-align: center;
}

footer span {
  color: #9e9e9e;
  font-size: 15px;
}
