@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* General styles */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6a859c;
  line-height: 1.8;
}

/* Header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  color: #69B9FF;
  text-transform: uppercase;
}

.active {
  color: #0082F3;
}

nav {
  width: 183;
  height: 60px;
  padding: 20px;
  display: flex;
  gap: 40px;
}

/* Welcome section */
.welcome {
  height: 594px;
  background-image: url('./images/welcome-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;  
}

.welcome .container {
  height: 397px;
  padding-top: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 74px;
}

.welcome h1 {
  font-size: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;

}

.welcome a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.welcome a:first-of-type {
  background: #69B9FF;
}

.welcome a:last-of-type {
  padding: 11px 30px;
  border: 1px solid #fff;
}


